body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, table, td, img, div, dl, dt, dd, input, select {
	margin: 0;
	padding: 0;
}
em {
	font-style: normal;
}
body {
	font-size: 12px;
}
img {
	border: none;
	vertical-align: top;
}
li {
	list-style: none;
}
input, select, texture {
	outline: none;
}
texture {
	resize: none;
	overflow: auto;
}
table {
	border-collapse: collapse;
}
a {
	text-decoration: none;
}
body {
	font-size: 12px;
	font-family: "microsoft yahei";
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.iconfont {
	font-family: "iconfont" !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

.toast {
	width: 85%;
	height: 50px;
	background: #fff;
	font-size: 15px;
	line-height: 50px;
	color: #fff;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -42.5%;
	margin-top: -80px;
	z-index: 9999999;
	border-radius: 3px;
	background:rgba(0,0,0,.7);
}

.toastT {
	-webkit-transition: -webkit-transform 0.5s ease-in, opacity 0.5s ease-in;
	opacity: 0;
	z-index: 9999999;
}
